mixin row_subforum(subforum, global)
	a(href=subforum.getUrl())
		.pure-u-1.row.forum
			.type forum
			.name!=subforum.name

mixin row_thread(thread, subforum_id, global)
	a(href=thread.getUrl())
		.pure-u-1.row.thread
			.type thread
			.title!=thread.title


mixin row_post(post)
	.pure-u-1.row.post
		if post.user
			.post-title
				a.username(href=global.url_prefix + '/user/' + post.user.username)!=post.user.username
				.time!=post.time
		.post-body!=post.body.replace(/\n/g, '<br />').replace(/\\n/g, '<br />')
			if global.auth && (global.username === post.user.username || isAdmin)
					a(href=global.url + '/delete/' + post.post_id) 
						button.pure-button.button-error.edit_button.clearfix Delete