include ../../../views/partials
extends ../../../views/layout

block content
	.thread
		.pure-u-1.row.thread.post
			.post-title
				h3!=thread.title
				if thread.user
					.username!=thread.user.username
					.time!=thread.time
			.post-body!=thread.body.replace(/\n/g, '<br />')
				if global.auth && global.username === thread.username
					a(href=global.url + '/edit') 
						button.pure-button.pure-button-primary.edit_button.clearfix Edit
					a(href=thread.getUrl() + '/delete') 
						button.pure-button.button-error.edit_button.clearfix Delete
		if posts
			each post in posts
				+row_post(post)
	if global.auth
		a(name="post")
			h1 Add post to thread
		if request.form.errors
			.msg-error!=request.form.errors
		form.pure-form(action=global.url method="post")
			fieldset.pure-group
				textarea.pure-input-1-3(placeholder="Content" name="body" required)!=request.form.body
				input.pure-button.button-success(type="submit" value="Post")